<div class = "container">
    <h6 class = "text-center">Registration Form</h6>
    <form>
        <div class = "form-group">
            <div class = "form-label">Name:</div>
            <input type = "text" class="form-control" required/>
        </div>

        <div class = "form-group">
            <label class = "form-label">Email Id:</label>
            <input type = "email" class = "form-control" required/>
        </div>

        <div class = "form-group">
            <label class = "form-label">Password:</label>
            <input type = "password" class = "form-control" required/>
        </div>

        <div class = "form-group">
            <label class = "form-label">Contact Number</label>
            <input type = "number" class = "form-control" required/>
        </div>

        <div class = "form-group">
            <label class = "form-label">Gender</label>
            <div class = "form-check form-check-inline">
                <input type = "radio" name = "gender" value = "Male"
                    class = "form-check-input"/>Male
            </div>
       

            <div class = "form-check form-check-inline">
             <input type = "radio" name = "gender" value = "Female"
                    class = "form-check-input"/>Female
            </div>
        </div>

        <div class = "form-group">
            <label class = "form-label">State</label>&nbsp;
            <select class = "form-control">
                <option value="">--select--</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Karnataka">Karnataka</option>
                <option value="MadhyaPradesh">Madhya Pradesh</option>
            </select>
        </div>

        <div class = "form-group">
            <label class = "form-label">City</label>
            <select class = "form-control">
                <option value="">--select--</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Pune">Pune</option>
                <option value="Banglore">Banglore</option>
            </select>
        </div>

        <div class = "form-group">
            <label class = "form-label">Postal Code</label>
            <input type = "number" class = "form-control" required/>
        </div>
        <button type = "submit" class = "btn btn-block bg-info">Register</button>
    </form>
</div>

